.titulo-principal {
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url(imagens/transparencia_header.jpg);
    background-size: cover;
    background-position: center;
}

body {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.anos {
    text-align: center;
}

div > a {
    color:white;
    margin: 40px 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #7F68AE;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

div hr {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;

}
h1 {
    margin-bottom: 30px;
}
div img {
    width: calc(50% - 16px);
    margin: 20px;
    margin-left: 30px;
    border: solid 1px black;
}

.conteudo {
    padding: 2%;
    float: left;
    width: 75%;
    text-align: center;
}

.conteudo > p{
    text-align: center;
    margin-left: 20px;
}

.fotinha {
    margin: 0% 15%;
    width: 100%;
}
.conteudo > a{
    margin: opx;
    border-radius: 0px;
    padding: 0px;
    background-color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
@media (max-device-width: 600px) {
    .anos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "anos anos" "anos anos";
    }
    
    .fotinha {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "fotinha fotinha" "fotinha fotinha";
        margin: 0px 10%; 
    }
}
div.anos>a:hover {
    background-color: #df3d7e;
}