* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Scroll fixo do menu superior */

.sticky {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 999;
}
.sticky>img {
    height: auto;
}

/* Estilo da Header */

.titulo-principal {
    padding-top: 20px;
    padding-bottom: 35%;
    background-image: url(imagens/crianca.jpg);
    background-size: cover;
}

#titulo-header {
    background-color: whitesmoke;
    opacity: 0.8;
}

.resumo {
    color: #7F68AE;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
/* Estilo da Main do site */


/* Estilo Articles */

section {
    padding: 2%;
    background-color: #f5dff4;
}

.video {
    background-image: url(imagens/blured.jpg);
    background-size: cover;
}

.video iframe {
    margin: 2% 0% auto;
}

.titulo-article {
    text-align: left;
    margin: 10px 20%;
    font-size: 24px;
    font-weight: bolder;
}

.texto-descritivo {
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 20%;
    margin-bottom: 20px;
}


/* Estilos Aside */

.conheca {
    padding-top: 25px;
}

.subtitulo-equipe {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.conteudo {
    padding: 2%;
    float: left;
    width: 75%;
}

.ecles {
    font-family: "Courier New", monospace;
    text-align: center;
}

.fotinha {
    margin: 15%;
    width: 100%;
}

.mapas {
    text-align: center;
    background-color: #F1F1F1;
}
/* Estilos gerais de parágrafo e título */

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

h1 {
    color: #df3d7e;
    text-align: center;
    font-size: 4em;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
    left: 10px;
}

h3 {
    font-family: "Courier New", monospace;
    text-align: center;
}

h4

Estilo footer */

footer {
    background-color: #7F68AE;
    color: #FFF;
    width: 100%;
    height: 25%;
    text-align: center;
    line-height: 30px;
}

footer p {
    margin: 0% 10%;
}


/* Responsividade */

@media (min-device-width: 600px) {
    #quadro-equipe {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: "equipe equipe equipe equipe" "equipe equipe equipe equipe" "equipe equipe equipe equipe";
        margin: 0px 10%;
    }
    /* Estilo do menu superior */
    .navigation-bar {
        display: flex;
    }
    .navigation-bar>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin-top: 25px;
        font-family: sans-serif;
        font-weight: bold;
        width: 100%;
        height: 25%;
        background-color: white;
    }
    .navigation-bar>.logo {
        display:flex;
        float: inline-start;
        flex-direction: row;
        vertical-align: top;
        width: 10%;
        height: 10%;
    }
    .navigation-bar>ul>a {
        line-height: 18vh;
    }
    .navigation-bar>ul>li>a {
        text-decoration: none;
        text-align: center;
        color: black;
        display: inline-block;
        vertical-align: top;
        margin-right: 0%;
        margin-left: 0%;
        /*height: 80px;        /* if you want it to take the full height of the bar */
        line-height: 15vh;
        /* if you want it vertically middle of the navbar */
    }
    ul>li>a:hover {
        color: pink;
    }
}

@media (max-device-width: 600px) {
    #quadro-equipe {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "equipe equipe" "equipe equipe" "equipe equipe" "equipe equipe" "equipe equipe" "equipe equipe";
        margin: 0px 10%;
    }
    video {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0%;
    }
    footer {
        background-color: #7F68AE;
        color: #FFF;
        width: 100%;
        height: 25%;
        text-align: center;
        line-height: 50px;
    }
    .titulo-article {
        text-align: left;
        margin: 10% 10%;
    }
    .texto-descritivo {
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        margin: 10%;
    }
    .resumo {
        color: #7F68AE;
        font-family: 'Roboto', sans-serif;
        background-color: whitesmoke;
        opacity: 0.8;
        font-size: 1.3em;
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: center;
        font-weight: bold;
    }
    .logo {
        display:inline-block;
        margin-left: 40%;
        position: relative;
        vertical-align: top;
        width: 20%;
        height: 20%;
        margin-top: 5%;
        /* if you want it vertically middle of the navbar. */
    }
    .mapas {
        text-align: center;
        width: 100%
    }
    /* Menu hamburguer*/
    #menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 1%;
        left: 20px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }
    .bar {
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 5px;
        background-color: black;
        transition: 0.3s ease;
    }
    #bar1 {
        transform: translateY(-4px);
    }
    #bar3 {
        transform: translateY(4px);
    }
    .change .bar {
        background-color: #7F68AE;
    }
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }
    .change #bar2 {
        opacity: 0;
    }
    .change {
        display: block;
    }
    .list {
        width: 100%;
        height: 100%;
        background-color: grey;
        position: fixed;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -100%;
        z-index: 999;
    }
    .navigation-bar > ul {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 0 22px;
    }
    .navigation-bar > ul > li {
        list-style: none;
        padding: 12px 0;
    }
    .navigation-bar > ul > li > a {
        color: white;
        font-size: 150%;
        font-family: 'Roboto';
        text-decoration: none;
    }
    .change {
        left: 0;
    }
}
