*{
	margin:0;
	padding: 0;
}

/* Estilo do menu superior */ 

.navigation-bar {
	font-family: sans-serif;
	font-weight: bold;
    width: 100%;				/*i'm assuming full width */
    height: 25%; /*nge it to desired width */
    background-color: white; /* change to desired color */
}
.sticky {
	position: fixed;
	background-color: #F1F1F1;
	top: 0;
	width: 100%;
	z-index: 1;
	transition: all 0.1s ease;
}
.sticky > img {
	height: auto;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 10%;
}
.navigation-bar > a {
	text-decoration: none;
	color: black;
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    margin-left: 2%;
    /*height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 10em;/* if you want it vertically middle of the navbar */
}

a:hover{
	color: pink;
}


/* Estilo da Header */

.titulo-principal{
	padding-top: 20px;
	padding-bottom: 35%;
	background-image: url(imagens/crianca.jpg);
	background-size: cover;
}

#titulo-header {
  background-color: whitesmoke;
  opacity: 0.8;
}

.resumo{
	color:  #7F68AE;
	font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;
    opacity: 0.8;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	font-weight: bold;
}

/* Estilo da Main do site */ 

/* Estilo Articles */

section {
	padding: 2%;
	background-color: #f5dff4;
}

.video{
	background-image: url(imagens/blured.jpg);
	background-size: cover;
}

.video iframe{
	margin: 2% 0% auto;
}

.titulo-article {
  text-align: left;
  margin: 10px 20%;
  font-size: 24px;
  font-weight: bolder;
}
.texto-descritivo{
	text-align: justify;
	font-family: "Roboto",  sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 10px 20%;
	margin-bottom: 20px;
}

/* Estilos Aside */

.conheca{
	padding-top: 25px;
}
.subtitulo-equipe{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}

.conteudo{
  padding: 2%;
  float: left;
  width: 75%;
}

.ecles{
	font-family: "Courier New", monospace;
	text-align: center;
}

.fotinha{
	margin: 15%;
 	width: 100%;

}
.mapas{
	text-align: center;
	background-color: #F1F1F1;
}

/* Estilos gerais de parágrafo e título */

p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
}

h1{
	color:#df3d7e;
	text-align: center;
	font-size: 4em;
}

h2{
	font-family: "Arial",  sans-serif;
	font-size: 25px;
	font-weight: bold;
	left: 10px;
}

h3{
	font-family:"Courier New" , monospace;
	text-align: center;
}

/* Estilo footer */ 

footer{
	background-color: #7F68AE;
   	color: #FFF;
    width: 100%;
    height: 25%;
    text-align: center;
    line-height: 30px;
}

footer p {
	margin: 0% 10%;
}

/* Responsividade */ 

@media (min-device-width: 600px) { 
#quadro-equipe {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 33% 33% 33%;
	grid-template-areas: "equipe equipe equipe equipe"
						 "equipe equipe equipe equipe"
						 "equipe equipe equipe equipe";
	margin: 0px 10%; 
   }
}

@media (max-device-width: 600px){
	#quadro-equipe {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas: "equipe equipe"
							 "equipe equipe"
							 "equipe equipe"
							 "equipe equipe"
							 "equipe equipe"
							 "equipe equipe";
		margin: 0px 10%; 
	   }	

	   video{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0%;
	}

	footer{
		background-color: black;
		   color: #FFF;
		width: 100%;
		height: 25%;
		text-align: center;
		line-height: 50px;
	}

	.titulo-article {
		text-align: left;
		margin: 10% 10%;
	  }
	.texto-descritivo{
		text-align: left;
		font-family: "Roboto",  sans-serif;
		font-size: 16px;
		font-weight: normal;
		margin: 10%;
	}

	.resumo{
		color:  #7F68AE;
		font-family: 'Roboto', sans-serif;
		background-color: whitesmoke;
		opacity: 0.8;
		font-size: 1.3em;
		padding-top: 10px;
		padding-bottom: 15px;
		text-align: center;
		font-weight: bold;
	}

	.navigation-bar {
		font-family: sans-serif;
		font-weight: bold;
		width: 100%;				/*i'm assuming full width */
		height: 25%; /*nge it to desired width */
		background-color: white; /* change to desired color */
	}
	.logo {
		display: inline-block;
		vertical-align: top;
		width: 10%;
		height: 10%;
		margin-top: 5%;/* if you want it vertically middle of the navbar. */
	}
	.navigation-bar > a {
		text-decoration: none;
		color: black;
		display: inline-block;
		vertical-align: top;
		margin-right: 1%;
		margin-left: 1%;
		/*height: 80px;        /* if you want it to take the full height of the bar */
		line-height: 10em;/* if you want it vertically middle of the navbar */
		font-size: 20px;
	}
}
.mapas{
	text-align: center;
	wiidth: 100%
}
